<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--服务端口-->
    <add key="Port" value="2022"></add>

    <add key="Machine" value="ZDesigner Generic ZPL 200dpi"></add>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
